<div class="container my-2" style="height: 230px; width: 350px;">
  <div class="row justify-content-center">
    <h5>id #<%= user.id %></h5>
  </div>
  <div class="row">
    <div class="col-7 pr-2">
      <% if user.avatar.attached? %>
        <% avatar = url_for(user.avatar) %>
      <% else %>
        <% avatar = 'no-photo.png' %>
      <% end %>
      <img class="img-thumbnail" src="<%= avatar %>" alt="user avatar"/>
    </div>
    <div class="col-5">
      <div class="row">
        <b>Phone:</b>
      </div>
      <div class="row">
        <%= user.phone %>
      </div>
      <div class="row">
        <b>Name:</b>
      </div>
      <div class="row">
        <%= user.name %>
      </div>
      <div class="row">
        <b>Api Key:</b>
      </div>
      <div class="row">
        <%= user.api_key %>
      </div>
      <div class="row justify-content-end">
        <%= link_to user, class: "px-1" do %>
          <%= fa_icon "eye 2x" %>
        <% end %>
        <%= link_to edit_user_path(user), class: "px-1" do%>
          <%= fa_icon "edit 2x" %>
        <% end %>
        <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: "px-1" do%>
          <%= fa_icon "trash 2x" %>
        <% end %>
      </div>
    </div>
  </div>
</div>