<div class="row">
  <div class="col-1 offset-1 py-2 px-2">
    <%= link_to users_path do %>
      <%= fa_icon "undo 2x" %>
    <% end %>
    <%= link_to @user, class: "px-2" do %>
      <%= fa_icon "eye 2x" %>
    <% end %>
  </div>
  <div class="col">
    <h1>Editing User</h1>
  </div>
</div>

<%= render 'form', user: @user %>

